[Unit]
Description=Agora Daphne
After=network.target


[Service]
Type=simple
ExecStart=/home/agora/agora/venv/bin/daphne -p 8080 agora.asgi:application
Restart=on-failure
User=agora
Group=agora
WorkingDirectory=/home/agora/agora/

Environment="DJANGO_SETTINGS_MODULE=agora.development_settings"

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=daphne

[Install]
WantedBy=multi-user.target