{% extends "form_simp_base.html" %}

{% load submission_status %}

{% block content %}

{% if 'course_id' in request.session %}

{%if render_dict.is_instructor %}

<div class="container-fluid">


</div>

{% else %}

<div class="container-fluid">


  <div class="col-sm-6 col-md-offset-2 col-md-8">
    <h3>Participation Grades</h3>
    <div class="panel panel-default"> 
      <table class="table table-striped"> 
        
        <thead> 
          <tr> 
            <th class="col-md-3">Class</th>
            <th class="col-md-3">Grade</th>
            <th class="col-md-3">Comments</th>
          </tr> 
        </thead>

        <tbody> 
          {% for item in participation_grades %}
            <tr>
              <td> {{ item.grading_period }} </td>
              <td> {{ item.grade }} </td>
              <td> {{ item.comments }} </td>
            </tr>
            <div>
          {% endfor %}
        </tbody> 
      </table>
    </div>


</div>

{% endif %}

{% else %}

please choose a course first!

{% endif %}


{% endblock %}
